.checkout-item-container {
    width: auto;
    // background-color: red;
    display: flex;
    min-height: 100px;
    border-bottom: 1px solid darkgrey;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  
    .image-container {
      width: 200px;
      padding-right: 45px;
      margin-right: 0px;
      margin-left: 18px;
  
      img {
        width: 100%;
        height: 100%;
      }
    }
    .name,
    .quantity,
    .price {
      width: 20%;
    }

    .price {
        margin-right: 58px;
        padding-left: 27px;
        // color: rgb(4, 146, 4);
        // font-weight: bold;
        
        span {
          font-weight: bold;
          color: rgb(4, 146, 4);
        }
    }

    .quantity {
      padding-left: 18px;
      display: flex;
      // background-color: red;
  
      .arrow {
        cursor: pointer;
        font-size: 17px;
        margin-top: 3px;
        color: #636363;
      }
  
      .minus-arrow{
        padding-right: 14px;
      }

      .plus-arrow {
        padding-left: 14px;
      }
    }
  
    .trash-icon {
      margin-right: 35px;
      color: #92A9BD;
      font-size: 26px;
      margin-bottom: 4px;
      cursor: pointer;
    }
}
