<div class="footer-container">
    <div class="social-media">
        <a href="https://www.facebook.com/edwardo.rodriguez.9480" target="_blank" class="icon">
            <fa-icon [icon]="facebook"></fa-icon>
        </a>
        <a href="https://www.instagram.com/eduardo.dr.k/" target="_blank" class="icon">
            <fa-icon [icon]="instagram"></fa-icon>
        </a>
        <a href="https://github.com/EduardoTheProgrammer2002" target="_blank" class="icon">
            <fa-icon [icon]="github"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/in/eduardo-rodr%C3%ADguez-583382234/" target="_blank" class="icon">
            <fa-icon [icon]="linkedin"></fa-icon>
        </a>
    </div>
    <div class="creator-info">
        Created by Eduardo Rodríguez. 
    </div>
    <div class="enviromment">
        Ecommerce app Demo
    </div>
</div>