.section-container {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    // border:2px solid red;
    margin: 20px 20px 0px 20px;
    align-items: center;
    margin-bottom: 80px;

    & .title {
        min-width: 7%;
        width: 10%;
        font-size: 40px;
        cursor: pointer;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 15px;

        & span {
            position: absolute;
            font-size: 15px;
            font-weight: bold;
            top: 79%;
            left: 13%;
        }
    }

    & .hr {
        margin-top: 2px;
        width: 40%;
        border-bottom: 3px solid rgb(158, 157, 157);
    } 

    & .item-container {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
}
