<!-- Registration Form -->
<div class="title">
    <h2>
       New
    </h2>
    <span>
        Account
    </span>
</div>
<form [formGroup]="registerForm">
    <!-- Name -->
    <div class="mb-[30px]">
        <app-input [control]="name" type="text" label="Name" placeholder="Enter your Name" ></app-input>
    </div>
    <!-- Email -->
    <div class="mb-[30px]">
        <app-input [control]="email" type="text" label="Email" placeholder="Enter your Email" ></app-input>
    </div>
    <!-- Age -->
    <div class="mb-[30px]">
        <app-input [control]="age" type="number" label="Age" placeholder="Enter Age" ></app-input>
    </div>
    <!-- Password -->
    <div class="mb-[30px]">
        <app-input [control]="password" type="password" label="Password" placeholder="Password" ></app-input>
    </div>
    <!-- Confirm Password -->
    <div class="mb-[30px]">
        <app-input [control]="confirm_password" type="password" label="Confirm Password" placeholder="Confirm password" ></app-input>
    </div>
    <button type="submit"
        class="block formButton rounded transition mb-[30px] mt-[25px]
        hover:bg-indigo-500">
        Submit
    </button>
</form>