// for screens from 0px to 500px
.menu-item {
    min-width: 80%;
    height: 200px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin:  0 7.5px 15px;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    &.large {
        height: 200px;
    }

    &:hover {
        cursor: pointer;
        & .background-image {
            transform: scale(1.1);
            transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }

        & .content {
            opacity: 0.9;
        }
    }

    .background-image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }

    .content {
        height: 70px;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        background-color: white;
        opacity: 0.7;
        font-family: 'Open Sans', sans-serif;
        position: absolute;

        .title {
            font-weight: bold;
            margin-bottom: 6px;
            font-size: 18px;
            color: #000000;
        }
        
        .subtitle {
            font-weight: lighter;
            font-size: 14px;
        }
    }
}

// for screens from 500px to 768px
@media only screen and (min-width: 500px) {
    .menu-item {
        height: 300px;
    
        &.large {
            height: 300px;
        }
    
        .content {
            height: 90px;
    
            .title {
                font-size: 22px;
            }
            
            .subtitle {
                font-size: 16px;
            }
        }
    }
}

// for screens from 768px to 1300px
@media only screen and (min-width: 768px) {
    .menu-item {
        min-width: 35%;
        height: 330px;
    
        &.large {
            height: 330px;
        }
    
        .content {
            height: 90px;
            padding: 0 25px;
    
            .title {
                font-size: 22px;
            }
            
            .subtitle {
                font-size: 16px;
            }
        }
    }
}



//screens equal of greater than 1300px
@media only screen and (min-width: 1300px) {
    .menu-item {
        min-width: 30%;
        height: 360px;
    
        &.large {
            height: 500px;
        }
    
        &:first-child {
            margin-right: 7.5px;
        }
    
        &:last-child {
            margin-left: 7.5px;
            margin-right: none;
        }
    
        .content {
            height: 90px;
            padding: 0 25px;
    
            .title {
                font-size: 22px;
            }
            
            .subtitle {
                font-size: 16px;
            }
        }
    }
}