.triangle {
    position: absolute;
    // bottom: 96%;
    bottom: 291.6px;
    right: 105px;
    color: #92A9BD;
    font-size: 22px;
    transform: scaleX(2.3);
    text-shadow: 0px -6px 5px rgba(0,0,0,0.5);
  
}

.Auth-user-container {
    height: 100%;
    // background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;


    .icon-container {
        height: 25%;
        width: 100%;
        background-color: #92A9BD;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            position:relative;
            top: 51%;
            background-color: #D3DEDC;
            border: 2px solid white;
            border-radius: 40px;
            width: 80px;
            height: 80px;
            font-size: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 45px;

        .name {
            font-size: 15px;
            font-weight: bold;
        }

        .email {
            font-size: 13px;
            color: #7C99AC;
        }
    }

    .sign-out {
        margin-top: 50px;
    }
}