<div class="navigation flex mb-25">
    <a 
        routerLink="/" 
        routerLinkActive=" active border-b-2 border-gray-500" 
        [routerLinkActiveOptions]="{exact: true}" 
        class="logo-container poiter">
        <img src="assets/crown.svg" alt="logo">
    </a>
    <div class='nav-links-container flex '>
        <a routerLink="/shop" routerLinkActive="mb-[5px] active border-b-2 border-gray-500 font-bold" class="nav-link">
            SHOP
        </a>
        <a (click)="openModal($event, 'auth')" routerLinkActive="mb-[5px] active border-b-2 border-gray-500 font-bold" class="nav-link">
            SIGN IN
        </a>
        <div class="nav-link">
            <app-cart-icon></app-cart-icon>
        </div>
    </div>
</div>