.navigation {
    height: 70px;
    width: 100%;
    justify-content: space-between;
  
    .logo-container {
      padding: 25px;
      padding-top: 16px;
      cursor: pointer;
    }
  
    .nav-links-container {
      width: 50%;
      height: 100%;
      align-items: center;
      justify-content: flex-end;
      padding-top: 15px;
      
  
      .nav-link {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
}