.active {
  transform: scale(1.01);
  transition: 0.2s;
  border-bottom: 3px solid #7C99AC;
  color: #7C99AC;
}

.navigation {
    height: 70px;
    width: 100%;
    justify-content: space-between;
  
    .logo-container {
      padding: 25px;
      padding-top: 16px;
      cursor: pointer;
    }
  
    .nav-links-container {
      width: 50%;
      height: 100%;
      align-items: center;
      justify-content: flex-end;
      padding-top: 15px;
      
  
      .nav-link {
        margin-left: 13px;
        padding: 10px 15px;
        cursor: pointer;
      }
    }
    .user-icon-container {
      display: flex;
      color: #4a7b9c;
      border: 2px solid #92A9BD;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 20px;

      &:hover {
        color: #6a9dbf;
        border: 2px solid #a2bbd1;
      }
    }
}