.triangle {
    position: absolute;
    // bottom: 96%;
    bottom: 375px;
    right: 50px;
    color: white;
    font-size: 22px;
    transform: scaleX(2.3);
    text-shadow: 0px -4px 4px rgba(0,0,0,0.5);
  
}

.cart-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: relative;

    .cart-item-container {
        overflow: auto;
        width: 100%;
        height: 81%;
    }

    .btn {
        position: absolute;
        bottom: 6px;
    }

    .empty-items {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
 
        & .icon-container {
            position: relative;
            bottom: 20px;
            // background-color: red;

            & .cart-plus {
                font-size: 45px;
                color: rgb(88, 87, 87);
    
            }

            & .x-icon {
                position: absolute;
                top: 25px;
                left: 15px;
                font-size: 21px;
                font-weight: bold;
                color: white;
            }
        }

        .content {
            margin-bottom: 50px;
            
            & .header {
                font-size: 25px;
                font-weight: bold;
                color: rgb(109, 108, 106);
            }

            & .sHeader {
                position: relative;
                bottom: 7px;
                font-size: 14px;
            }
        }
    }
}