<span class="triangle">▲</span>
<div class="cart-container">
    <div *ngIf="showItems" class="cart-item-container">
        <app-cart-item id="item" *ngFor="let item of items" [item]="item"></app-cart-item>
    </div>
    
    <div *ngIf="!showItems" class="empty-items">
        <div class="icon-container">
            <fa-icon [icon]="emptyCart" class="cart-plus"></fa-icon>
            <span class="x-icon">x</span>
        </div>
        <div class="content">
            <h1 class="header">Your bag is empty</h1>
            <span class="sHeader">Please Add Items!</span>
        </div>
    </div>
    <app-button 
    class="btn" [buttonType]="!showItems ? 'disabled':''" 
    [disabled]="!showItems"
    (click)="redirect($event)"
    >Checkout</app-button>
</div>

