/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(245, 245, 245);

    padding: 20px 18px;

    a {
        text-decoration: none;
        color: black;
    }

}

* {
    box-sizing: border-box;
}

@media only screen and (min-width: 500px) {
    body {
        padding: 20px 30px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        padding: 20px 30px;
    }
}

@media only screen and (min-width: 1300px) {
    body {
        padding: 20px 60px;
    }
}
  